.container {
    width: 1366px;
    margin: 0 auto;
}

svg {
    width: 100%;
}

/*
    Для rect в svg можно задать различные классы или идентификаторы, в зависимости от категории кабинета: аудитория, лаборатория, туалет. 
    Окрасить их в соответствующиес цвета, чтобы это интуитивно понятно было. 
    Возможно даже сделать сноску с цветами и расшифровкой, как это обычно делают в диаграммах.
*/
svg > rect {
    cursor: pointer;
    transition: all .3s;
}

/*
    Собственно ховер эффекты тоже можно подобрать в зависимости от начальных цветов, которые ты выберешь для rect
*/
svg > rect:hover, 
svg > rect:focus {
    fill: red !important;
}